--
-- PostgreSQL database dump
--

\restrict 29ND9lJy31TLOEUChJfhM9oKM9LkUktGz9WmoMdt7OAUnbHI4uHB84bBQZWvgxC

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    id integer NOT NULL,
    display_name character varying(255),
    username character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    avatar_url text,
    avatar_data text,
    updated_at timestamp with time zone DEFAULT now(),
    last_seen timestamp without time zone,
    CONSTRAINT admins_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'VIEWER'::character varying, 'SERVER_ADMIN'::character varying])::text[])))
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admins_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_id_seq OWNER TO postgres;

--
-- Name: admins_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admins_id_seq OWNED BY public.admins.id;


--
-- Name: admins id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins ALTER COLUMN id SET DEFAULT nextval('public.admins_id_seq'::regclass);


--
-- Name: admins admins_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey PRIMARY KEY (id);


--
-- Name: admins admins_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_username_key UNIQUE (username);


--
-- Name: idx_admins_last_seen; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_admins_last_seen ON public.admins(last_seen DESC);


--
-- Name: admins admins_audit_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER admins_audit_trigger AFTER INSERT OR UPDATE ON public.admins FOR EACH ROW EXECUTE FUNCTION public.admins_audit_trigger_fn();


--
-- PostgreSQL database dump complete
--

\unrestrict 29ND9lJy31TLOEUChJfhM9oKM9LkUktGz9WmoMdt7OAUnbHI4uHB84bBQZWvgxC

