--
-- PostgreSQL database dump
--

\restrict EOzyY2e4bSuJspEAu3ZseC0MCUCkG6g9NLyunWq74kx9g0SU8wI1jXHjqsgDfTO

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admins_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins_audit (
    id bigint NOT NULL,
    admin_id integer NOT NULL,
    changed_by integer,
    change_type text NOT NULL,
    old jsonb,
    new jsonb,
    created_at timestamp with time zone DEFAULT now(),
    changed_fields text[] DEFAULT '{}'::text[],
    password_changed boolean DEFAULT false
);


ALTER TABLE public.admins_audit OWNER TO postgres;

--
-- Name: admins_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.admins_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.admins_audit_id_seq OWNER TO postgres;

--
-- Name: admins_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.admins_audit_id_seq OWNED BY public.admins_audit.id;


--
-- Name: admins_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins_audit ALTER COLUMN id SET DEFAULT nextval('public.admins_audit_id_seq'::regclass);


--
-- Name: admins_audit admins_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins_audit
    ADD CONSTRAINT admins_audit_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict EOzyY2e4bSuJspEAu3ZseC0MCUCkG6g9NLyunWq74kx9g0SU8wI1jXHjqsgDfTO

