--
-- PostgreSQL database dump
--

\restrict EPQcGPvZd2WTyvEdijJ9G7ujcqt2i7kat9GcQs8ZCBUBgFf6YWYga0bwEyr6f7B

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: app_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.app_settings (
    settings_key text NOT NULL,
    data jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_by integer,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.app_settings OWNER TO postgres;

--
-- Name: app_settings app_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_pkey PRIMARY KEY (settings_key);


--
-- Name: app_settings trg_app_settings_enforce_general_updated_by; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_app_settings_enforce_general_updated_by BEFORE INSERT OR UPDATE ON public.app_settings FOR EACH ROW WHEN ((new.settings_key = 'general'::text)) EXECUTE FUNCTION public.app_settings_enforce_general_updated_by();


--
-- Name: app_settings trg_app_settings_prevent_general_delete; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trg_app_settings_prevent_general_delete BEFORE DELETE ON public.app_settings FOR EACH ROW WHEN ((old.settings_key = 'general'::text)) EXECUTE FUNCTION public.app_settings_prevent_general_delete();


--
-- Name: app_settings app_settings_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.app_settings
    ADD CONSTRAINT app_settings_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.admins(id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict EPQcGPvZd2WTyvEdijJ9G7ujcqt2i7kat9GcQs8ZCBUBgFf6YWYga0bwEyr6f7B

