--
-- PostgreSQL database dump
--

\restrict rv47Jnh3LGFNY75b9vzED7Tvu2tLruISZLhmVB8b4JFdIuxfMc76NW7ducE74im

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: control_panel_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.control_panel_audit (
    id integer NOT NULL,
    admin_id integer,
    action text,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.control_panel_audit OWNER TO postgres;

--
-- Name: control_panel_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.control_panel_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.control_panel_audit_id_seq OWNER TO postgres;

--
-- Name: control_panel_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.control_panel_audit_id_seq OWNED BY public.control_panel_audit.id;


--
-- Name: control_panel_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.control_panel_audit ALTER COLUMN id SET DEFAULT nextval('public.control_panel_audit_id_seq'::regclass);


--
-- Name: control_panel_audit control_panel_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.control_panel_audit
    ADD CONSTRAINT control_panel_audit_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict rv47Jnh3LGFNY75b9vzED7Tvu2tLruISZLhmVB8b4JFdIuxfMc76NW7ducE74im

