--
-- PostgreSQL database dump
--

\restrict Y1sFxjafMWvFbumDvXYTd7vJ5q2b9SEmvZRW5hs0x8UbjqXCpBY1zRLv1a0oqXu

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: login_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.login_audit (
    id bigint NOT NULL,
    admin_id integer NOT NULL,
    role text NOT NULL,
    ip text,
    user_agent text,
    geo_city text,
    geo_country text,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.login_audit OWNER TO postgres;

--
-- Name: login_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.login_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.login_audit_id_seq OWNER TO postgres;

--
-- Name: login_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.login_audit_id_seq OWNED BY public.login_audit.id;


--
-- Name: login_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_audit ALTER COLUMN id SET DEFAULT nextval('public.login_audit_id_seq'::regclass);


--
-- Name: login_audit login_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_audit
    ADD CONSTRAINT login_audit_pkey PRIMARY KEY (id);


--
-- Name: idx_login_audit_admin_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_audit_admin_created_at ON public.login_audit USING btree (admin_id, created_at DESC);


--
-- Name: idx_login_audit_admin_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_audit_admin_id ON public.login_audit USING btree (admin_id);


--
-- Name: idx_login_audit_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_login_audit_created_at ON public.login_audit USING btree (created_at DESC);


--
-- Name: login_audit login_audit_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.login_audit
    ADD CONSTRAINT login_audit_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict Y1sFxjafMWvFbumDvXYTd7vJ5q2b9SEmvZRW5hs0x8UbjqXCpBY1zRLv1a0oqXu

