--
-- PostgreSQL database dump
--

\restrict YE11MhmHCfe3AM3KTTSRIUhOjONsBCbQe3CmgoCU6PuDkHxfh2URYNZPfGSJGFQ

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: server_admin_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.server_admin_permissions (
    id integer NOT NULL,
    admin_id integer NOT NULL,
    server_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.server_admin_permissions OWNER TO postgres;

--
-- Name: server_admin_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.server_admin_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.server_admin_permissions_id_seq OWNER TO postgres;

--
-- Name: server_admin_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.server_admin_permissions_id_seq OWNED BY public.server_admin_permissions.id;


--
-- Name: server_admin_permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_admin_permissions ALTER COLUMN id SET DEFAULT nextval('public.server_admin_permissions_id_seq'::regclass);


--
-- Name: server_admin_permissions server_admin_permissions_admin_id_server_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_admin_permissions
    ADD CONSTRAINT server_admin_permissions_admin_id_server_id_key UNIQUE (admin_id, server_id);


--
-- Name: server_admin_permissions server_admin_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_admin_permissions
    ADD CONSTRAINT server_admin_permissions_pkey PRIMARY KEY (id);


--
-- Name: server_admin_permissions server_admin_permissions_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_admin_permissions
    ADD CONSTRAINT server_admin_permissions_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(id) ON DELETE CASCADE;


--
-- Name: server_admin_permissions server_admin_permissions_server_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_admin_permissions
    ADD CONSTRAINT server_admin_permissions_server_id_fkey FOREIGN KEY (server_id) REFERENCES public.servers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict YE11MhmHCfe3AM3KTTSRIUhOjONsBCbQe3CmgoCU6PuDkHxfh2URYNZPfGSJGFQ

