--
-- PostgreSQL database dump
--

\restrict lZHYutjIV3b1tBdlxuo8djgfeX0vZvTBjo4dhtOCUCbw1XBrYKMeTrMsFh1hn6Q

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: server_keys; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.server_keys (
    id integer NOT NULL,
    server_id integer NOT NULL,
    username text,
    description text,
    original_key text,
    generated_key text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.server_keys OWNER TO postgres;

--
-- Name: server_keys_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.server_keys_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.server_keys_id_seq OWNER TO postgres;

--
-- Name: server_keys_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.server_keys_id_seq OWNED BY public.server_keys.id;


--
-- Name: server_keys id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_keys ALTER COLUMN id SET DEFAULT nextval('public.server_keys_id_seq'::regclass);


--
-- Name: server_keys server_keys_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_keys
    ADD CONSTRAINT server_keys_pkey PRIMARY KEY (id);


--
-- Name: server_keys_server_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX server_keys_server_id_idx ON public.server_keys USING btree (server_id);


--
-- Name: server_keys server_keys_server_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.server_keys
    ADD CONSTRAINT server_keys_server_id_fkey FOREIGN KEY (server_id) REFERENCES public.servers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict lZHYutjIV3b1tBdlxuo8djgfeX0vZvTBjo4dhtOCUCbw1XBrYKMeTrMsFh1hn6Q

