--
-- PostgreSQL database dump
--

\restrict 0dv9PEcNvnQ1OXq06KdsQv00FFdTchcGy9ykSIdqrG8LUkFnA3Yi9Kh9a887lRm

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: servers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.servers (
    id integer NOT NULL,
    server_name character varying(255) NOT NULL,
    owner character varying(255),
    service_type character varying(100),
    ip_address character varying(45),
    domain_name character varying(255),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    display_pos integer,
    api_key character varying(500)
);


ALTER TABLE public.servers OWNER TO postgres;

--
-- Name: servers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.servers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.servers_id_seq OWNER TO postgres;

--
-- Name: servers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.servers_id_seq OWNED BY public.servers.id;


--
-- Name: servers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servers ALTER COLUMN id SET DEFAULT nextval('public.servers_id_seq'::regclass);


--
-- Name: servers servers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.servers
    ADD CONSTRAINT servers_pkey PRIMARY KEY (id);


--
-- Name: servers_display_pos_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX servers_display_pos_idx ON public.servers USING btree (display_pos);


--
-- PostgreSQL database dump complete
--

\unrestrict 0dv9PEcNvnQ1OXq06KdsQv00FFdTchcGy9ykSIdqrG8LUkFnA3Yi9Kh9a887lRm

