--
-- PostgreSQL database dump
--

\restrict OWeShEc4Zddcshi9mdGJbxqHDJRKzKNTsU5WSIZvmtlCTziK3OKd5UUL7cc1Xst

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: telegram_chat_notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telegram_chat_notifications (
    chat_id bigint NOT NULL,
    login_notification boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.telegram_chat_notifications OWNER TO postgres;

--
-- Name: telegram_chat_notifications telegram_chat_notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_chat_notifications
    ADD CONSTRAINT telegram_chat_notifications_pkey PRIMARY KEY (chat_id);


--
-- PostgreSQL database dump complete
--

\unrestrict OWeShEc4Zddcshi9mdGJbxqHDJRKzKNTsU5WSIZvmtlCTziK3OKd5UUL7cc1Xst

