--
-- PostgreSQL database dump
--

\restrict 20iu60OgzlAnQqHS5pHVRh6ohCuon8uQmIFMR06WHsbFesJTUXdCKsoyPTmWV8G

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    account_name character varying(255) NOT NULL,
    service_type character varying(100),
    contact character varying(100),
    expire_date date,
    total_devices integer,
    data_limit_gb integer,
    server_id integer NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP,
    remark text,
    display_pos integer,
    enabled boolean DEFAULT true NOT NULL
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users_display_pos_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_display_pos_idx ON public.users USING btree (server_id, display_pos);


--
-- Name: idx_users_enabled; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_enabled ON public.users USING btree (enabled);


--
-- Name: users_server_account_unique_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_server_account_unique_idx ON public.users USING btree (server_id, account_name);


--
-- Name: users_server_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_server_id_idx ON public.users USING btree (server_id);


--
-- Name: users users_server_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_server_id_fkey FOREIGN KEY (server_id) REFERENCES public.servers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 20iu60OgzlAnQqHS5pHVRh6ohCuon8uQmIFMR06WHsbFesJTUXdCKsoyPTmWV8G

