--
-- PostgreSQL database dump
--

\restrict ZiDmmtEXiIiO1B0Nq1OYcOC3ElsgE0qK67YPOnqPcXX6W6w3xg6ZrqsAaFsQD3v

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: viewer_server_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.viewer_server_permissions (
    id integer NOT NULL,
    editor_id integer NOT NULL,
    server_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.viewer_server_permissions OWNER TO postgres;

--
-- Name: viewer_server_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.viewer_server_permissions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.viewer_server_permissions_id_seq OWNER TO postgres;

--
-- Name: viewer_server_permissions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.viewer_server_permissions_id_seq OWNED BY public.viewer_server_permissions.id;


--
-- Name: viewer_server_permissions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.viewer_server_permissions ALTER COLUMN id SET DEFAULT nextval('public.viewer_server_permissions_id_seq'::regclass);


--
-- Name: viewer_server_permissions viewer_server_permissions_editor_id_server_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.viewer_server_permissions
    ADD CONSTRAINT viewer_server_permissions_editor_id_server_id_key UNIQUE (editor_id, server_id);


--
-- Name: viewer_server_permissions viewer_server_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.viewer_server_permissions
    ADD CONSTRAINT viewer_server_permissions_pkey PRIMARY KEY (id);


--
-- Name: viewer_server_permissions viewer_server_permissions_editor_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.viewer_server_permissions
    ADD CONSTRAINT viewer_server_permissions_editor_id_fkey FOREIGN KEY (editor_id) REFERENCES public.admins(id) ON DELETE CASCADE;


--
-- Name: viewer_server_permissions viewer_server_permissions_server_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.viewer_server_permissions
    ADD CONSTRAINT viewer_server_permissions_server_id_fkey FOREIGN KEY (server_id) REFERENCES public.servers(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict ZiDmmtEXiIiO1B0Nq1OYcOC3ElsgE0qK67YPOnqPcXX6W6w3xg6ZrqsAaFsQD3v

