--
-- PostgreSQL database dump
--

\restrict VpINjb3MrZpAmwr0mryGWEucl86VaZ7Bdw7gQs1U8lKPsfQTWEyKSOzf1DgrnyR

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: password_reset_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_reset_audit (
    id integer NOT NULL,
    admin_id integer NOT NULL,
    target_account_id integer NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    note text
);


ALTER TABLE public.password_reset_audit OWNER TO postgres;

--
-- Name: password_reset_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.password_reset_audit_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.password_reset_audit_id_seq OWNER TO postgres;

--
-- Name: password_reset_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.password_reset_audit_id_seq OWNED BY public.password_reset_audit.id;


--
-- Name: password_reset_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_audit ALTER COLUMN id SET DEFAULT nextval('public.password_reset_audit_id_seq'::regclass);


--
-- Name: password_reset_audit password_reset_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_audit
    ADD CONSTRAINT password_reset_audit_pkey PRIMARY KEY (id);


--
-- Name: password_reset_audit password_reset_audit_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_audit
    ADD CONSTRAINT password_reset_audit_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public.admins(id) ON DELETE SET NULL;


--
-- Name: password_reset_audit password_reset_audit_target_account_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_reset_audit
    ADD CONSTRAINT password_reset_audit_target_account_id_fkey FOREIGN KEY (target_account_id) REFERENCES public.admins(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict VpINjb3MrZpAmwr0mryGWEucl86VaZ7Bdw7gQs1U8lKPsfQTWEyKSOzf1DgrnyR

