--
-- PostgreSQL database dump
--

\restrict 9x2vjaZWwr1wN2xe688sYz5wvotiu9oVa3pO0lHTtAfEMxBopeYdKrE7HSr9pkB

-- Dumped from database version 18.0
-- Dumped by pg_dump version 18.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: telegram_login_notify_audit; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.telegram_login_notify_audit (
    id bigint NOT NULL,
    chat_id bigint,
    admin_id integer,
    username text,
    ip text,
    user_agent text,
    status text,
    error text,
    payload jsonb,
    created_at timestamp with time zone DEFAULT now(),
    role text
);


ALTER TABLE public.telegram_login_notify_audit OWNER TO postgres;

--
-- Name: telegram_login_notify_audit_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.telegram_login_notify_audit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.telegram_login_notify_audit_id_seq OWNER TO postgres;

--
-- Name: telegram_login_notify_audit_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.telegram_login_notify_audit_id_seq OWNED BY public.telegram_login_notify_audit.id;


--
-- Name: telegram_login_notify_audit id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_login_notify_audit ALTER COLUMN id SET DEFAULT nextval('public.telegram_login_notify_audit_id_seq'::regclass);


--
-- Name: telegram_login_notify_audit telegram_login_notify_audit_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.telegram_login_notify_audit
    ADD CONSTRAINT telegram_login_notify_audit_pkey PRIMARY KEY (id);


--
-- Name: idx_telegram_login_notify_audit_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_telegram_login_notify_audit_role ON public.telegram_login_notify_audit USING btree (role);


--
-- PostgreSQL database dump complete
--

\unrestrict 9x2vjaZWwr1wN2xe688sYz5wvotiu9oVa3pO0lHTtAfEMxBopeYdKrE7HSr9pkB

